/* EmployeeList.css */

.employee-list-container {
  display: block;
  /* height: 100vh; */
  overflow: hidden; /* Prevent double scrollbars */
}

.sidebar {
  width: 20%;
  background-color: #343a40;
  color: white;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Allow sidebar to scroll if content exceeds height */
}

.employee-list-content {
  flex: 1;
  padding: 1rem;
  width: 80%;
  margin-left: 20%; /* Ensure content area doesn't overlap with sidebar */
  overflow-y: auto; /* Enable vertical scrolling for content area */
  
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* No repeat */
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.add-employee-btn {
  background-color: #720d97;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  color: white;

}

.add-employee-btn:hover {
  background-color: #8831cb;
}

.employee-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns per row */
  gap: 1rem;
  margin-top: 1rem; /* Separate from the top bar */
}

.employee-card {
  background: #fff;
  color: #000;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.employee-card:hover {
  transform: translateY(-5px);
}

.employee-card img.profile-pic {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.employee-card h3 {
  margin: 0 0 0.5rem;
  color: #cd28fa;
}

.employee-card p {
  margin: 0.5rem 0;
}
